.login-body {
    background: cadetblue;
    color: #00457C;
}

.login-body .login-wrapper .login-panel .login-form > p {
    color: #00457C;
}

.login-body .login-wrapper .login-panel p {
    color: #00457C;
}

body .ui-button {
    background: #f58025;
    border: 1px solid #f58025;
}

body .ui-button.ui-state-hover {
    background: #fd3c06;
    border-color: #fd3c06;
}